.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f3f6;
  height: 60px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.footer .container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (min-width: 1024px) {
  .footer .container {
    justify-content: space-between;
  }
}
